<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!-- app parameters-->
    <add key="SplitSymbol" value=","/>
    <add key="LoggerEnable" value="True"/>
    <add key="DateFormat" value="yyyy-MM-dd"/>
    <add key="SkipColumns" value="Original_Quote_Date"/>

    <!-- train parameters-->
    <add key="DataPath" value="C:\_dev\kaggle\homesite\hs_mod_test.csv" />
    <add key="ConfPath" value="" />
    <add key="ClassifierType" value="PtProject.Classifier.KMeansClassifier" />
    <add key="TargetName" value="QuoteConversion_Flag" /> <!-- target columns: col1,col2,col3 -->
    <add key="IdName" value="QuoteNumber" /> <!-- id columns: col1,col2,col3 -->

    <!-- rf params -->
    <add key="TreesRoot" value="" />
    <add key="BucketSize" value="0" />
    
    <!-- knn params -->
    <add key="TrainPath" value="C:\_dev\kaggle\homesite\hs_mod_train.csv" />
    <add key="KNeighbors" value="100"/>
    <add key="Pow" value="2"/>
    
  </appSettings>
</configuration>
