<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="SplitSymbol" value=","/>
    <add key="LoggerEnable" value="True"/>
    <add key="IndexSort" value="desc"/>
    <add key="TreesInBatch" value="4"/>
    <add key="BatchesInBruteForce" value="4"/>
    <add key="BatchesInFirstStep" value="500"/>
    <add key="LoadFirstStepBatches" value="False"/>
    <add key="OutliersPrct" value="0.0000005"/>
    <add key="BruteMeasure" value="test"/>
    <add key="SkipColumns" value="Original_Quote_Date"/>
  </appSettings>
</configuration>
