<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!-- app parameters-->
    <add key="SplitSymbol" value=","/>
    <add key="LoggerEnable" value="True"/>
    <add key="DateFormat" value="yyyy-MM-dd"/>
    <add key="SkipColumns" value="Original_Quote_Date"/>
    
    <!-- train parameters-->
    <add key="TrainPath" value="C:\_dev\kaggle\homesite\hs_mod_train.csv" />
    <add key="TestPath" value="C:\_dev\kaggle\homesite\hs_mod_test.csv" />
    <add key="ClassifierType" value="PtProject.Classifier.RFClassifier" />
    <add key="TargetName" value="QuoteConversion_Flag" /> <!-- target columns: col1,col2,col3 -->
    <add key="IdName" value="QuoteNumber" /> <!-- id columns: col1,col2,col3 -->
    
    <!-- random forest parameters-->
    <add key="RFCoeff" value="0.41"/> <!-- random forest coefficient for part of train set to build one tree-->
    <add key="BatchesInFirstStep" value="100"/> <!-- batches count in first step-->
    <add key="BatchesInSecondStep" value="100"/> <!-- batches count in second step-->
    <add key="TreesInBatch" value="4"/> <!-- trees in one batch -->
    <add key="BatchesInBruteForce" value="4"/> <!-- count of batches to choose best in second step -->
    <add key="IsLoadFirstStepBatches" value="False"/> <!-- if true, batches from first step will be loaded from disk -->
    <add key="OutliersPrct" value="0.0000005"/> <!-- part of train set to drop in second step -->
    <add key="IndexSortOrder" value="desc"/> <!-- sort order in second step -->
    <add key="BruteMeasure" value="test"/> <!-- measure for choose best in second step -->
    <add key="IsSaveTrees" value="true"/> <!-- save trees to disk -->
  
    <!-- knn parameters-->
  
    <!-- svm parameters-->
  </appSettings>
</configuration>
