<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SplitSymbol" value="," />
    <add key="LoggerEnable" value="True" />
    <add key="IndexSort" value="desc" />
    <add key="TreesInBatch" value="4" />
    <add key="BatchesInBruteForce" value="1" />
    <add key="BatchesInFirstStep" value="2" />
    <add key="LoadFirstStepBatches" value="True" />
    <add key="OutliersPrct" value="0.005" />
    <add key="BruteMeasure" value="train" />
  </appSettings>
</configuration>